.profile__avatar {
  min-width: 120px;
  min-height: 120px;
  background: url(../../../images/avatars/sergei_pradko.jpg) no-repeat center/100%;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 779px) {
  .profile__avatar {
    margin: 0 auto 26px;
  }
}
