.profile__info {
  display: grid;
  gap: 16px 18px;
  grid-template-columns: 1fr 24px;
}

@media screen and (max-width: 780px) {
  .profile__info {
    margin-bottom: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px 10px;
    max-width: 590px;
  }
}
